{% extends "base.html" %}

{% block content %}
  <h1>Car Detail</h1>
  <h2>{{ car.model }}</h2>
  <p><strong>Manufacturer: </strong>{{ car.manufacturer.name }}, <strong>country: </strong>{{ car.manufacturer.country }}</p>
  <h6>Drivers:</h6>
  <table>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Username</th>
    </tr>
    {% for driver in car.drivers.all %}
      <td>{{ driver.id }}</td>
      <td>{{ driver.first_name }}</td>
      <td>{{ driver.last_name }}</td>
      <td>{{ driver.username }}</td>
    {% endfor %}
  </table>
{% endblock %}
